{% extends 'base.html' %}

{% block principal %}
    <h2>Listado De Libros</h2>

    <table>
        <th>Nombre</th>
        <th>descripcion</th>
        <th>isbn</th>
        <th>copias</th>
        <th>editar</th>
        <th>borrar</th>
        {% for libro in object_list %}
        <tr>
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.descripcion }}</td>
            <td>{{ libro.isbn }}</td>
            <td>{{ libro.copias }}</td>
            <td><a href="#">Editar</a></td>
            <td><a href="#">Borrar</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'nuevo_libro' %}">Nuevo libro</a>
    {% endblock %}